<h1>{{{localize "FFD20.Help.Content.Items.Changes.Label"}}}</h1>

<img src="{{localize "FFD20.Help.Img.Items.Changes"}}">

<ol>
    <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Flags.Label"}}}</b>
        <ul>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Flags.LoseDexToAC.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Flags.LoseDexToAC.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Flags.SetAbility.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Flags.SetAbility.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Flags.DwarfLikeEncumbrance.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Flags.DwarfLikeEncumbrance.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Flags.FullSpeedMediumArmor.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Flags.FullSpeedMediumArmor.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Flags.FullSpeedHeavyArmor.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Flags.FullSpeedHeavyArmor.Desc"}}}</li>
        </ul>
    </li>
    <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Changes.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Changes.Desc"}}}
        <ul>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Changes.Operator.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Changes.Operator.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Changes.Formula.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Changes.Formula.Desc" tagOpen="<a href=\"systems/ffd20/help/special/formulas.hbs\">" tagClose="</a>"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Changes.Target.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Changes.Target.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Changes.SubTarget.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Changes.SubTarget.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Changes.Modifier.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Changes.Modifier.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.Changes.Priority.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.Changes.Priority.Desc"}}}</li>
        </ul>
    </li>
    <li><b>{{{localize "FFD20.Help.Content.Items.Changes.ContextNotes.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.ContextNotes.Desc"}}}
        <ul>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.ContextNotes.Description.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.ContextNotes.Description.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.ContextNotes.Target.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.ContextNotes.Target.Desc"}}}</li>
            <li><b>{{{localize "FFD20.Help.Content.Items.Changes.ContextNotes.SubTarget.Label"}}}</b> {{{localize "FFD20.Help.Content.Items.Changes.ContextNotes.SubTarget.Desc"}}}</li>
        </ul>
    </li>
</ol>

<h2>{{{localize "FFD20.Help.Content.Items.Changes.ScriptOperator.Label"}}}</h2>

<p>{{{localize "FFD20.Help.Content.Items.Changes.ScriptOperator.Desc"}}}</p>

<p>{{{localize "FFD20.Help.Content.Items.Changes.ScriptOperator.Variables.Desc"}}}</p>

<table>
    <tbody>
        <tr>
            <td><code>{{{localize "FFD20.Help.Content.Items.Changes.ScriptOperator.Variables.0.Name"}}}</code></td>
            <td>{{{localize "FFD20.Help.Content.Items.Changes.ScriptOperator.Variables.0.Desc"}}}</td>
        </tr>
        <tr>
            <td><code>{{{localize "FFD20.Help.Content.Items.Changes.ScriptOperator.Variables.1.Name"}}}</code></td>
            <td>{{{localize "FFD20.Help.Content.Items.Changes.ScriptOperator.Variables.1.Desc"}}}</td>
        </tr>
    </tbody>
</table>