<h1>{{{localize "PF1.Help.Content.Items.Description.Label"}}}</h1>

<img src="{{localize "PF1.Help.Img.Items.Description"}}">

<ol>
    <li><b>{{{localize "PF1.Help.Content.Items.Description.Name"}}}</b> {{{localize "PF1.Help.Content.Items.Description.NameDesc"}}}</li>
    <li><b>{{{localize "PF1.Help.Content.Items.Description.UnidentifiedName"}}}</b> {{{localize "PF1.Help.Content.Items.Description.UnidentifiedNameDesc"}}}</li>
    <li><b>{{{localize "PF1.Help.Content.Items.Description.Description"}}}</b> {{{localize "PF1.Help.Content.Items.Description.DescriptionDesc"}}}</li>
    <li><b>{{{localize "PF1.Help.Content.Items.Description.UnidentifiedDescription"}}}</b> {{{localize "PF1.Help.Content.Items.Description.UnidentifiedDescriptionDesc"}}}</li>
    <li><b>{{{localize "PF1.Help.Content.Items.Description.Price"}}}</b> {{{localize "PF1.Help.Content.Items.Description.PriceDesc"}}}</li>
    <li><b>{{{localize "PF1.Help.Content.Items.Description.UnidentifiedPrice"}}}</b> {{{localize "PF1.Help.Content.Items.Description.UnidentifiedPriceDesc"}}}</li>
</ol>