<form autocomplete="off" data-tooltip-class="ffd20">
  {{!-- Spell Level --}}
  {{formGroup fields.sl value=sl name="sl" placeholder="1" label="FFD20.SpellLevel" localize=true}}

  {{!-- Caster Level --}}
  {{formGroup fields.cl value=cl name="cl" placeholder="1" label="FFD20.CasterLevel" localize=true autofocus=true}}

  {{formGroup fields.spellType value=spellType name="spellType" label=(localize "FFD20.Spellcasting.Type.Label")}}

  {{#if isGM}}
  <div class="form-group stacked">
    <label class="checkbox">
      {{formInput fields.identified value=identified name="identified"}}
      {{localize "FFD20.Identified"}}
    </label>
  </div>

  {{! Unidentified Name }}
  {{formGroup fields.unidentifiedName name="unidentifiedName" label="FFD20.UnidentifiedName" placeholder=(localize "FFD20.CreateItemNamePlaceholder") localize=true}}
  {{/if}}
</form>
