<div class="spell-description">
  <p>
    <strong>{{localize "ffd20lnrw.School"}}</strong>&nbsp;{{label.school}}{{#if label.subschool}}&nbsp;({{label.subschool}}){{/if}}{{#if label.types}}&nbsp;[{{label.types}}]{{/if}};
    {{#if learnedAt.class}}<strong>{{localize "ffd20lnrw.Level"}}</strong>&nbsp;{{learnedAt.class}};{{/if}}
    {{#if learnedAt.domain}}<strong>{{localize "ffd20lnrw.Domain"}}</strong>&nbsp;{{learnedAt.domain}};{{/if}}
    {{#if learnedAt.subDomain}}<strong>{{localize "ffd20lnrw.SubDomain"}}</strong>&nbsp;{{learnedAt.subDomain}};{{/if}}
    {{#if learnedAt.elementalSchool}}<strong>{{localize "ffd20lnrw.ElementalSchool"}}</strong>&nbsp;{{learnedAt.elementalSchool}};{{/if}}
    {{#if learnedAt.bloodline}}<strong>{{localize "ffd20lnrw.Bloodline"}}</strong>&nbsp;{{learnedAt.bloodline}};{{/if}}
  </p>
  <p>
    {{#if label.castingTime}}<strong>{{localize "ffd20lnrw.CastingTime"}}</strong>&nbsp;{{label.castingTime}}<br>{{/if}}
    {{#if label.components}}<strong>{{localize "ffd20lnrw.Components"}}</strong>&nbsp;{{label.components}}<br>{{/if}}
  </p>
  <p>
    {{#if label.range}}<strong>{{localize "ffd20lnrw.Range"}}</strong>&nbsp;{{label.range}}<br>{{/if}}
    {{#if label.area}}<strong>{{localize "ffd20lnrw.Area"}}</strong>&nbsp;{{label.area}}<br>{{/if}}
    {{#if label.targets}}<strong>{{localize "ffd20lnrw.Targets"}}</strong>&nbsp;{{label.targets}}<br>{{/if}}
    {{#if label.effect}}<strong>{{localize "ffd20lnrw.Effect"}}</strong>&nbsp;{{label.effect}}<br>{{/if}}
    {{#if label.duration}}<strong>{{localize "ffd20lnrw.Duration"}}</strong>&nbsp;{{label.duration}}<br>{{/if}}
    {{#if useDCandSR}}
      <strong>{{localize "ffd20lnrw.SavingThrow"}}</strong>&nbsp;{{label.savingThrow}};&nbsp;
      <strong>{{localize "ffd20lnrw.SpellResistance"}}</strong>&nbsp;{{label.sr}}<br>
    {{/if}}
  </p>
  {{#if data.shortDescription}}
  <h2>{{localize "ffd20lnrw.Description"}}</h2>
  {{{data.shortDescription}}}
  {{/if}}
</div>
