<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLight"}}:</label>
    <input type="checkbox" name="flags.ffd20.lowLightVision" {{checked object.flags.ffd20.lowLightVision}}>
</div>

<div class="form-group slim">
  <label>{{localize "TOKEN.VisionLowLightMultiplier"}}</label>
  <div class="form-fields">
    <label>{{localize "TOKEN.VisionDim"}}</label>
    <input type="number" name="flags.ffd20.lowLightVisionMultiplier" placeholder="2" data-tooltip="FFD20.Dim" value="{{object.flags.ffd20.lowLightVisionMultiplier}}" min="0">
    <label>{{localize "TOKEN.VisionBright"}}</label>
    <input type="number" name="flags.ffd20.lowLightVisionMultiplierBright" placeholder="2" data-tooltip="FFD20.Bright" value="{{object.flags.ffd20.lowLightVisionMultiplierBright}}" min="0">
  </div>
</div>
