<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLight"}}:</label>
    <input type="checkbox" name="flags.ffd20.lowLightVision" data-dtype="Boolean" {{checked object.flags.ffd20.lowLightVision}}/>
</div>

<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLightMultiplier"}}</label>
    <input type="number" name="flags.ffd20.lowLightVisionMultiplier" data-dtype="Number" placeholder="2" title="{{localize "FFD20.Dim"}}" value="{{object.flags.ffd20.lowLightVisionMultiplier}}"/>
    <input type="number" name="flags.ffd20.lowLightVisionMultiplierBright" data-dtype="Number" placeholder="2" title="{{localize "FFD20.Bright"}}" value="{{object.flags.ffd20.lowLightVisionMultiplierBright}}"/>
</div>
