<h1>{{{localize "FFD20.Help.Content.Items.Equipment.Label"}}}</h1>

<p>{{{localize "FFD20.Help.Content.Items.Equipment.Desc"}}}</p>

<img src="{{localize "FFD20.Help.Img.Items.Equipment"}}">

<p><b>{{{localize "FFD20.Help.Content.Items.Equipment.Category"}}}</b> {{{localize "FFD20.Help.Content.Items.Equipment.CategoryDesc"}}}</p>
<p><b>{{{localize "FFD20.Help.Content.Items.Equipment.Type"}}}</b> {{{localize "FFD20.Help.Content.Items.Equipment.TypeDesc"}}}</p>
<p><b>{{{localize "FFD20.Help.Content.Items.Equipment.Slot"}}}</b> {{{localize "FFD20.Help.Content.Items.Equipment.SlotDesc"}}}</p>
<p><b>{{{localize "FFD20.Help.Content.Items.Generic.Size"}}}</b> {{{localize "FFD20.Help.Content.Items.Generic.SizeDesc"}}}</p>

<p><b>{{{localize "FFD20.Help.Content.Items.Equipment.Status"}}}</b> {{{localize "FFD20.Help.Content.Items.Equipment.StatusDesc"}}}
    <ul>
        <li><b>{{{localize "FFD20.Help.Content.Items.Generic.Equipped"}}}</b> {{{localize "FFD20.Help.Content.Items.Generic.EquippedDesc"}}}</li>
        <li><b>{{{localize "FFD20.Help.Content.Items.Generic.Identified"}}}</b> {{{localize "FFD20.Help.Content.Items.Generic.IdentifiedDesc"}}}</li>
        <li><b>{{{localize "FFD20.Help.Content.Items.Generic.Masterwork"}}}</b> {{{localize "FFD20.Help.Content.Items.Generic.MasterworkDesc"}}}</li>
        <li><b>{{{localize "FFD20.Help.Content.Items.Generic.Broken"}}}</b> {{{localize "FFD20.Help.Content.Items.Generic.BrokenDesc"}}}</li>
    </ul>
</p>