<div>
  {{!-- Notes --}}
  <h4 class="context-notes-header">
    {{localize "FFD20.ContextNotes"}}
  </h4>
  <ol class="context-notes form-group">
    {{#each contextNotes as |note a|}}
    <li class="context-note flexrow" data-note="{{a}}">
        <textarea class="context-note-text context-text" name="data.contextNotes.{{a}}.text" placeholder="{{localize "FFD20.Notes"}}">{{{lookup this "text"}}}</textarea>

        {{!-- Note Target --}}
        <span class="context-note-target">{{label}}</span>
      {{!--  <select class="context-note-target" name="data.contextNotes.{{a}}.target" required>  --}}
        {{!--  {{#select (lookup this "target") }}  --}}
        {{!--  <option value=""></option>  --}}
        {{!--  {{#each ../contextNotes.targets as |target type|}}  --}}
        {{!--  <option value="{{type}}">{{target}}</option>  --}}
        {{!--  {{/each}}  --}}
        {{!--  {{/select}}  --}}
      {{!--  </select>  --}}
      {{!--  <select class="context-note-sub-target" name="data.contextNotes.{{a}}.subTarget">  --}}
        {{!--  {{#select (lookup this "subTarget") }}  --}}
        {{!--  {{#each subNotes as |target type|}}  --}}
        {{!--  <option value="{{type}}">{{target}}</option>  --}}
        {{!--  {{/each}}  --}}
        {{!--  {{/select}}  --}}
      {{!--  </select>  --}}

      {{!-- Delete Note --}}
      <a class="context-note-control delete-note"><i class="fas fa-trash"></i></a>
    </li>
    {{/each}}
    <li class="context-note flexrow"><a class="context-note-control add-note"><i class="fas fa-plus"></i> {{localize "FFD20.AddNote"}}</a></li>
  </ol>
</div>
