{{#unless showUnidentifiedData}}
<h3 class="form-header">{{localize "FFD20.Aura.Single"}}</h3>

{{!-- Caster Level --}}
<div class="form-group" data-tooltip="@item.cl : {{system.cl}}">
  <label class="header">{{localize "FFD20.CasterLevel"}}</label>
  <div class="form-fields">
    <input type="number" class="select-on-click" name="system.cl" value="{{data.cl}}" placeholder="0" min="0" step="1">
  </div>
</div>

{{!-- Aura --}}
<div class="form-group" data-tooltip="@item.auraStrength : {{aura.strength}}">
  <label class="header">{{localize "FFD20.School"}}</label>
  <div class="form-fields">
    {{#if aura.strengthLabel}}
    <label class="aura-strength">{{aura.strengthLabel}}</label>
    {{/if}}
    {{#if system.aura.custom}}
    <input type="text" name="system.aura.school" value="{{data.aura.school}}" placeholder="{{localize "FFD20.Aura.Single"}}">
    {{else}}
    <select name="system.aura.school">
      {{selectOptions config.spellSchools selected=data.aura.school blank=(localize "FFD20.None")}}
    </select>
    {{/if}}
    <label class="checkbox">
      <input type="checkbox" name="system.aura.custom" {{checked data.aura.custom}}> {{localize "FFD20.Custom"}}
    </label>
  </div>
</div>

<div class="form-group stacked">
  {{#if @root.isGM}}
  <label class="checkbox cursed">
    <input type="checkbox" name="system.cursed" {{checked system.cursed}}> {{localize "FFD20.Cursed"}}
  </label>
  {{/if}}
</div>

{{!-- Identify DC --}}
{{#if (and isGM identify.dc)}}
<div class="form-group identification">
  <div class='base-dc'>
    <label>{{localize "FFD20.IdentifyDC"}}</label>
    <span class='value'>{{identify.dc}}</span>
  </div>
  {{#if system.cursed}}
  <div class='curse-dc'>
    <label>{{localize "FFD20.IdentifyCurseDC"}}</label>
    <span class='value'>{{identify.curse}}</span>
  </div>
  {{/if}}
</div>
{{/if}}
{{/unless}}
