<div class="item-name flexcol">
  {{#if isGM}}
  <h3>
    <input class="identified" name="name" type="text" value="{{name}}"
      placeholder="{{localize 'FFD20.ItemName'}}" data-tooltip="FFD20.ItemName">
  </h3>
  <h3>
    <input class="unidentified" name="system.unidentified.name" type="text" value="{{system.unidentified.name}}"
      placeholder="{{localize 'FFD20.UnidentifiedName'}}" data-tooltip="FFD20.UnidentifiedName">
  </h3>
  {{else if showUnidentifiedData}}
  <h1>
    <input name="system.unidentified.name" type="text" value="{{name}}" placeholder="{{localize 'FFD20.ItemName'}}">
  </h1>
  {{else}}
  <h1>
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'FFD20.ItemName'}}">
  </h1>
  {{/if}}
</div>

{{! Content Source }}
{{~> "systems/ffd20/templates/internal/content-source-view.hbs"}}
