{{#if materialCategories.addons.length}}
<div class="form-group stacked">
  <h4 class="form-header">
    {{#if label}}
      {{localize label}}
    {{else}}
      {{localize "FFD20.Materials.Addon"}}
    {{/if}}
  </h4>
  <div class="form-group stacked material-addons">
    {{#each materialCategories.addons}}
    <label class="checkbox">
      <input type="checkbox" value="{{key}}" name="{{../reference}}.{{key}}" {{checked (lookup @root.materialAddons key)}}>
      {{name}}
    </label>
    {{/each}}
  </div>
</div>
{{/if}}
