{{#unless showUnidentifiedData}}
<h4 class="form-header">{{localize "FFD20.Advanced"}}</h4>

<div class="form-group">
	<label>{{localize "FFD20.Tag"}}</label>
	<input {{#unless data.useCustomTag}}disabled{{/unless}} type="text" name="data.tag" value="{{data.tag}}" placeholder="{{localize "FFD20.Tag"}}" />
	<label>{{localize "FFD20.Custom"}}</label>
	<input type="checkbox" name="data.useCustomTag" {{checked data.useCustomTag}} />
</div>
{{/unless}}
