<div class="tab description{{#if @root.isIdentified}} identified{{/if}}" data-group="primary" data-tab="description">
  {{#if isPhysical}}
    <div class="unidentified-description description-content{{#unless system.description.unidentified}} empty{{/unless}}">
      {{#if showBothDescriptions}}
      <h3 class="form-header">{{localize "FFD20.UnidentifiedDescription"}}</h3>
      {{/if}}
      {{editor descriptionHTML.unidentified target="system.description.unidentified" toggle=_editorState.system.description.unidentified button=_editorState.system.description.unidentified engine="prosemirror" editable=@root.editable}}
      <!-- prose-mirror name="system.description.unidentified" value="{{system.description.unidentified}}" {{#if _editorState.system.description.unidentified}}toggled{{/if}}>{{{descriptionHTML.unidentified}}}</prose-mirror -->
    </div>
  {{/if}}

  {{#if showIdentified}}
    <div class="identified-description description-content{{#unless system.description.identified}} empty{{/unless}}">
      {{#if showBothDescriptions}}
      <h3 class="form-header">{{localize "FFD20.IdentifiedDescription"}}{{#if (not @root.isIdentified)}} <i class="unidentified fa-solid fa-eye-slash" data-tooltip="FFD20.Hidden"></i>{{/if}}</h3>
      {{/if}}
      {{editor descriptionHTML.identified target="system.description.value" toggle=_editorState.system.description.value button=_editorState.system.description.value engine="prosemirror" editable=@root.editable}}
      <!-- prose-mirror name="system.description.value" value="{{system.description.value}}" {{#if _editorState.system.description.value}}toggled{{/if}}>{{{descriptionHTML.identified}}}</prose-mirror -->
    </div>
  {{/if}}

  {{> "systems/ffd20/templates/items/parts/item-instructions.hbs"}}
</div>
