<h4 class="form-header">{{localize "ffd20lnrw.Advanced"}}</h4>

<div class="form-group">
	<label>{{localize "ffd20lnrw.Tag"}}</label>
	<input {{#unless data.useCustomTag}}disabled{{/unless}} type="text" name="data.tag" value="{{data.tag}}" placeholder="{{localize "ffd20lnrw.Tag"}}" />
	<label>{{localize "ffd20lnrw.Custom"}}</label>
	<input type="checkbox" name="data.useCustomTag" {{checked data.useCustomTag}} />
</div>
