<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "FFD20.AccessibilityFontSize"}}</label>
        <select name="fontSize">
            {{#select settings.fontSize}}
            <option value="0" data-dtype="Number">{{localize "FFD20.Normal"}}</option>
            <option value="1" data-dtype="Number">{{localize "FFD20.Large"}}</option>
            <option value="2" data-dtype="Number">{{localize "FFD20.ExtraLarge"}}</option>
            {{/select}}
        </select>
        <p class="notes">{{localize "FFD20.AccessibilityFontSizeHint"}}</p>
    </div>

    <div class="form-group">
        <button type="submit" name="submit" >
            <i class="far fa-save"></i> {{localize "SETTINGS.Save"}}
        </button>
    </div>
</form>
