<h1>{{{localize "FFD20.Help.Content.Special.CompendiumBrowsers.Label"}}}</h1>

<h2>{{{localize "FFD20.Help.Content.Special.CompendiumBrowsers.Properties.Label"}}}</h2>

<ul>
  <li>
    <i class="fas fa-eye-slash"></i>
    <b>{{{localize "FFD20.Help.Content.Special.CompendiumBrowsers.Properties.Hidden.Label"}}}</b>
    <span>{{{localize "FFD20.Help.Content.Special.CompendiumBrowsers.Properties.Hidden.Description"}}}</span>
  </li>
  <li>
    <i class="fas fa-low-vision"></i>
    <b>{{{localize "FFD20.Help.Content.Special.CompendiumBrowsers.Properties.Disabled.Label"}}}</b>
    <span>{{{localize "FFD20.Help.Content.Special.CompendiumBrowsers.Properties.Disabled.Description"}}}</span>
  </li>
</ul>
