<footer class="card-footer">
  {{#if extraText}}
    <div class="extra-text gm-sensitive">{{{extraText}}}</div>
  {{/if}}

  {{#if spellFailure}}
    <div class="spell-failure">
      <h3>{{localize "FFD20.ArcaneSpellFailure"}}</h3>
      <div class="dice-roll">
        <div class="dice-result">
          <h4 class="dice-total spell-failure {{#unless spellFailureSuccess}}failure{{/unless}}">{{spellFailure}}</h4>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if (or concentrationCheck casterLevelCheck)}}
  <div class='card-buttons spell-buttons flexrow'>
    {{#if concentrationCheck}}
    <div class="concentration">
        <button data-action="concentration">{{localize "FFD20.ConcentrationCheck"}}</button>
    </div>
    {{/if}}
    {{#if casterLevelCheck}}
    <div class="caster-level-check">
        <button data-action="caster-level-check">{{localize "FFD20.CasterLevelCheck"}}</button>
    </div>
    {{/if}}
  </div>
  {{/if}}

  {{#each properties}}
  {{> "systems/ffd20/templates/chat/parts/item-notes.hbs" css=css cssExtra="general-notes" header=header notes=value}}
  {{/each}}
  </div>
</footer>
