<div class="ffd20 chat-card defense-card" data-actor-id="{{actor.id}}"{{#if tokenUuid}} data-token-uuid="{{tokenUuid}}"{{/if}}>
  <header class="card-header type-color defenses flexrow">
    <h3 class="actor-name">{{localize "FFD20.Defenses"}}</h3>
  </header>

  {{#with ac}}
  <div class="defense">
    <div class="info-box-joined ac">
      <div class="info-box">
        <h5>{{localize "FFD20.ACNormal"}}</h5>
        <span class="value">{{normal}}</span>
      </div>
      <div class="info-box">
        <h5>{{localize "FFD20.ACTouch"}}</h5>
        <span class="value">{{touch}}</span>
      </div>
      <div class="info-box">
        <h5>{{localize "FFD20.ACFFAbbr"}}</h5>
        <span class="value">{{flatFooted}}</span>
      </div>
    </div>
  </div>

  {{> "systems/ffd20/templates/chat/parts/item-notes.hbs" header=(localize "FFD20.ACNotes") notes=notes}}
  {{/with}}

  {{#if (or cmd misc.sr)}}
  <div class="defense">
    {{#if cmd}}
    <div class="info-box-joined cmd">
      <div class="info-box cmd normal">
        <h5>{{localize "FFD20.CMDAbbr"}}</h5>
        <span class="value">{{cmd.normal}}</span>
      </div>
      <div class="info-box cmd flatfooted">
        <h5>{{localize "FFD20.CMDFFAbbr"}}</h5>
        <span class="value">{{cmd.flatFooted}}</span>
      </div>
    </div>
    {{/if}}
    {{#if misc.sr}}
    <div class="info-box sr">
      <h5>{{localize "FFD20.SpellResistanceAbbr"}}</h5>
      <span class="value">{{misc.sr}}</span>
    </div>
    {{/if}}
  </div>

  {{> "systems/ffd20/templates/chat/parts/item-notes.hbs" header=(localize "FFD20.CMDNotes") notes=cmd.notes}}
  {{/if}}

  {{> "systems/ffd20/templates/chat/parts/item-notes.hbs" header=(localize "FFD20.SpellResistance") notes=misc.srNotes}}

  {{> "systems/ffd20/templates/chat/parts/item-notes.hbs" header=(localize "FFD20.DamRed") notes=misc.drNotes}}

  {{#if misc.hardness}}
  <div class="flexcol property-group">
    <label>{{localize "FFD20.Hardness"}}</label>
    <div class="flexrow tag-list">
      <span class="tag">{{{misc.hardness}}}</span>
    </div>
  </div>
  {{/if}}

  {{> "systems/ffd20/templates/chat/parts/item-notes.hbs" header=(localize "FFD20.EnRes") notes=misc.erNotes}}

  {{#with regen}}
  <div class="defense regen">
    <div class="info-box regen">
      <h5>{{localize "FFD20.Regeneration"}}</h5>
      <span class="value">{{#if regen}}{{regen}}{{else}}{{localize "FFD20.NonApplicable"}}{{/if}}</span>
    </div>
    <div class="info-box fastheal">
      <h5>{{localize "FFD20.FastHealing"}}</h5>
      <span class="value">{{#if fastHealing}}{{fastHealing}}{{else}}{{localize "FFD20.NonApplicable"}}{{/if}}</span>
    </div>
  </div>
  {{/with}}

  {{> "systems/ffd20/templates/chat/parts/item-notes.hbs" header=(localize "FFD20.ConditionPlural") notes=misc.conditions}}

  <div class="saving-throws flexrow">
    <button data-action="save" data-save="fort" data-as="speaker">
      <label>{{localize "FFD20.SavingThrowFort"}}</label>
      <span>{{numberFormat saves.fort sign=true}}</span>
    </button>
    <button data-action="save" data-save="ref" data-as="speaker">
      <label>{{localize "FFD20.SavingThrowRef"}}</label>
      <span>{{numberFormat saves.ref sign=true}}</span>
    </button>
    <button data-action="save" data-save="will" data-as="speaker">
      <label>{{localize "FFD20.SavingThrowWill"}}</label>
      <span>{{numberFormat saves.will sign=true}}</span>
    </button>
  </div>

  {{#with saves}}
  {{> "systems/ffd20/templates/chat/parts/item-notes.hbs" header=(localize "FFD20.SaveNotes") notes=notes}}
  {{/with}}
</div>
