<form class="{{cssClass}} pf1-sheet" data-tooltip-class="ffd20" autocomplete="off">
  <header class="sheet-header">
    <h1 class="char-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "FFD20.CharacterName"}}" readonly>
    </h1>
  </header>

  <section class="sheet-body tab">
    <img class="sheet-profile" src="{{actor.img}}" data-edit="img">
    <div class="tab biography">
      {{{biographyHTML}}}
    </div>
  </section>
</form>
