{{!-- Template Type --}}
<div class="form-group select">
  <label>{{localize "FFD20.TemplateType"}}</label>
    <div class="form-fields">
    <select name="measureTemplate.type">
      {{selectOptions @root.choices.measureTemplateTypes selected=data.measureTemplate.type blank=(localize "FFD20.NonApplicable")}}
    </select>
  </div>
</div>

{{#if data.measureTemplate.type}}
{{!-- Template Size --}}
<div class="form-group">
  <label>{{localize "FFD20.TemplateSizeFormula"}}</label>
  <div class="form-fields">
    <input class="formula" type="text" name="measureTemplate.size" value="{{data.measureTemplate.size}}" placeholder="{{localize "FFD20.Formula"}}">
  </div>
  <p class="hint">{{localize "FFD20.TemplateSizeFormulaHint"}}</p>
</div>

<div class="form-group">
  <label>{{localize "FFD20.CustomColor"}}</label>
  <div class="form-fields">
    {{formInput fields.measureTemplate.fields.color value=data.measureTemplate.color placeholder=user.color}}
  </div>
</div>

<div class="form-group">
  <label>{{localize "FFD20.CustomTexture"}}</label>
  <div class="form-fields">
    {{formInput fields.measureTemplate.fields.texture value=data.measureTemplate.texture placeholder="path/to/image.png"}}
  </div>
</div>
{{/if}}
