<form>
  <div class="form-group">
      <label>{{#if nonlethal}}{{localize "ffd20lnrw.Nonlethal"}} {{/if}}{{#if healing}}{{localize "ffd20lnrw.Healing"}}{{else}}{{localize "ffd20lnrw.Damage"}}{{/if}}</label>
      <input type="text" name="damage" data-dtype="Number" value="{{damage}}"/>
  </div>
  <div class="form-group">
    <label>{{localize "ffd20lnrw.ReduceBy"}}</label>
    <input type="text" name="damage-reduction" data-dtype="Number" value="{{damageReduction}}"/>
  </div>

  {{!-- Selected tokens --}}
  <div class="form-group">
    <label>{{localize "TOKEN.Update"}}</label>
    <div class="form-fields">
      <a name="swap-selected"><i class="fas fa-sync"></i> {{localize "ffd20lnrw.SwapSelected"}}</a>
      <a name="clear-reduction"><i class="fas fa-times"></i> {{localize "ffd20lnrw.ClearReduction"}}</a>
    </div>
  </div>
  <div class="form-group stacked selected-tokens">

    {{#each tokens as | token |}}
    <div class="form-fields">
      <label class="checkbox">
        <input type="checkbox" class="tokenAffected" name="affect.{{_id}}" {{checked this.checked}}/> {{name}}
      </label>
    </div>
    {{#if (or dr eres)}}
    <p class="notes" style="display: flex; justify-content: space-around;">
        {{#if dr}}
        <span>
          <u>{{localize "ffd20lnrw.DamRed"}}</u><br>
          {{#each dr}}<a style="padding: 0 0.5em;">{{this}}</a>{{/each}}
        </span>
        {{/if}}
        {{#if eres}}
        <span>
          <u>{{localize "ffd20lnrw.EnRes"}}</u><br>
          {{#each eres}}<a style="padding: 0 0.5em;">{{this}}</a>{{/each}}
        </span>
        {{/if}}
    </p>
    {{/if}}
    {{/each}}
  </div>
</form>
