<form autocomplete="off" onsubmit="event.preventDefault();">
  <ol class="item-list">
    {{#each abilities as |abl|}}
    <li class="item flexrow" data-ability="{{abl.key}}">
      <div class="item-name">
        <h4>
          {{abl.name}}
        </h4>
      </div>

      {{!-- Subtract --}}
      <div class="ability-controls">
        <a class="ability-control subtract">
          <i class="fas fa-minus"></i>
        </a>
      </div>

      {{!-- Current Value --}}
      <span class="item-detail ability-value">
        {{abl.value}}
      </span>

      {{!-- Add --}}
      <div class="ability-controls">
        <a class="ability-control add">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>

  <div class="info">
    <p>{{localize "FFD20.PointBuyCalculatorSpent"}}: {{points}}</p>
    <table>
      <tr>
        <th>{{localize "FFD20.PointBuyCalculatorCampaignType"}}</th>
        <th>{{localize "FFD20.PointBuyCalculatorPoints"}}</th>
      </tr>
      <tr>
        <td>{{localize "FFD20.PointBuyCalculatorLowFantasy"}}</td>
        <td>10</td>
      </tr>
      <tr>
        <td>{{localize "FFD20.PointBuyCalculatorStandardFantasy"}}</td>
        <td>15</td>
      </tr>
      <tr>
        <td>{{localize "FFD20.PointBuyCalculatorHighFantasy"}}</td>
        <td>20</td>
      </tr>
      <tr>
        <td>{{localize "FFD20.PointBuyCalculatorEpicFantasy"}}</td>
        <td>25</td>
      </tr>
    </table>
    <p>
      <i class="fas fa-exclamation-triangle"></i> {{localize "FFD20.PointBuyCalculatorWarning"}}
    </p>
  </div>

  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "FFD20.Confirm"}}</button>
</form>
