<div class="compendium-browser-content" data-type="{{type}}">
  {{! Sidebar }}
  <aside class="sidebar flexcol">
    <div class="entry-filter search-form formgroup flexrow">
      <input type="search" name="filter" value="{{query}}" placeholder="{{localize "FFD20.SearchFilterPlaceholder"}}" autocomplete="off" autofocus>
      <i class="fa-solid fa-search" inert></i>
    </div>

    <div class="filter-container">
      {{#each filters}}
        <div class="filter" data-filter-id="{{id}}">
          <h3>
            {{label}}
            {{#if active}}
            <a class="filter-count" data-action="clear-filter" data-tooltip="FFD20.CompendiumBrowser.ActiveFilters" data-tooltip-direction="UP"><i class="fa-solid fa-filter" inert></i>×{{activeCount}}</a>
            {{/if}}
          </h3>
          <div class="filter-content flexcol {{collapsed}}">
            {{> (lookup . "template") filter=this}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="buttons flexrow">
      <button class="reload refresh">
        <i class="fa-solid fa-rotate" inert></i>
        {{localize "FFD20.CompendiumBrowser.ReloadPacks"}}
      </button>
      <button class="reset clear-filters">
        <i class="fa-solid fa-filter-circle-xmark" inert></i>
        {{localize "FFD20.CompendiumBrowser.ClearFilters"}}
      </button>
    </div>
  </aside>

  {{! Entries }}
  <div class="directory-container flexcol">
    {{#unless loading}}
    <div class="top flexrow">
      <span>{{localize "FFD20.TotalItems" count=itemCount}}</span>
      <span>{{localize "FFD20.FilteredItems" count=filteredItemCount}}</span>
    </div>
    {{/unless}}
    <ol class="directory-list">
      {{#if loading}}
        <li class="compendium-loading flexcol">
          <i class="fa-solid fa-spinner fa-spin" inert></i>
          {{localize "FFD20.LoadingItemsFromIndexes" items=loadingInfo.entryCount indexes=loadingInfo.indexCount}}
        </li>
      {{else}}
        {{> systems/ffd20/templates/apps/compendium-browser/entries.hbs entries=entries}}
        <li class="directory-bottom"></li>
      {{/if}}
    </ol>
  </div>
</div>
