<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "FFD20.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{lookup config.classTypes data.classType}}
        </li>
        <li class="tooltip">
          <span class="tooltipcontent">@classes.{{item.data.tag}}.level : {{data.level}}</span>
          <input type="text" name="data.level" value="{{data.level}}" placeholder="{{#if isMythicPath}}{{localize "FFD20.Tier"}}{{else}}{{localize "FFD20.Level"}}{{/if}}" data-dtype="Number"/>
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "FFD20.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "FFD20.Details" }}</a>
    <a class="item" data-tab="changes">{{localize "FFD20.Changes"}}</a>
    <a class="item" data-tab="links">{{localize "FFD20.Links"}}</a>
    <a class="item" data-tab="advanced">{{localize "FFD20.Advanced"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab flexcol active" data-group="primary" data-tab="description">
      {{roll-editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">

      {{!-- Class Type --}}
      <div class="form-group">
        <label>{{localize "FFD20.ClassType"}}</label>
        <select name="data.classType">
          {{#select data.classType}}
          {{#each config.classTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Class sub Type --}}
      <div class="form-group">
        <label>{{localize "FFD20.ClassSubType"}}</label>
        <select name="data.classSubType">
          {{#select data.classSubType}}
          {{#each config.classSubTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Parent class --}}
      <div class="form-group">
        <label>{{localize "FFD20.ParentClass"}}</label>
        <input type="text" name="data.parentClass" value="{{data.parentClass}}" data-dtype="String" />
      </div>

      {{!-- count for exp  --}}
      <div class="form-group">
        <label>{{localize "FFD20.countforexp"}}</label>
        <select name="data.countforexp">
          {{#select data.countforexp}}
          {{#each config.countforexp as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- HD --}}
      <div class="form-group">
        <label>{{localize "FFD20.HitDie"}}</label>
        <input type="text" name="data.hd" value="{{data.hd}}" data-dtype="Number" />
      </div>

      {{!-- Hit Points --}}
      {{#unless healthConfig.auto}}
      <div class="form-group">
        <label>{{localize "FFD20.HitPoints"}}</label>
        <input type="text" name="data.hp" value="{{data.hp}}" data-dtype="Number" />
      </div>
      {{/unless}}

      {{!-- mp type --}}
      <div class="form-group">
        <label>{{localize "FFD20.ClassMPType"}}</label>
        <select name="data.classBaseMPTypes">
          {{#select data.classBaseMPTypes}}
          {{#each config.classBaseMPTypes as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Casting stat type --}}
      <div class="form-group">
        <label>{{localize "FFD20.SpellcastingAbility"}}</label>
        <select name="data.classCastingStat">
          {{#select data.classCastingStat}}
          {{#each config.classCastingStats as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- mp auto  --}}
      <div class="form-group">
        <label>{{localize "FFD20.classBaseMPauto"}}</label>
        <select name="data.classBaseMPauto">
          {{#select data.classBaseMPauto}}
          {{#each config.classBaseMPauto as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- MP --}}
      <div class="form-group">
        <label>{{localize "FFD20.ManaPoints"}}</label>
        <input type="text" name="data.mp" value="{{data.mp}}" data-dtype="Number" />
      </div>

      {{!-- BAB --}}
      <div class="form-group">
        <label>{{localize "FFD20.BABAbbr"}}</label>
        <select name="data.bab">
          {{#select data.bab}}
          <option value="">{{localize "FFD20.None"}}</option>
          {{#each config.classBAB as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Skills/Level --}}
      <div class="form-group">
        <label>{{localize "FFD20.SkillsPerLevel"}}</label>
        <input type="text" name="data.skillsPerLevel" value="{{data.skillsPerLevel}}" data-dtype="Number" />
      </div>

      {{!-- Proficiencies --}}
      <div class="form-group {{data.armorProf.cssClass}}">
        <label for="data.weaponProf">{{localize "FFD20.TraitWeaponProf"}}</label>
        <ul class="traits-list">
          {{#each data.weaponProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
          {{/each}}
        </ul>
        <a class="trait-selector" data-options="weaponProf"><i class="fas fa-edit"></i></a>
      </div>

      <div class="form-group {{data.armorProf.cssClass}}">
        <label for="data.armorProf">{{localize "FFD20.TraitArmorProf"}}</label>
        <ul class="traits-list">
          {{#each data.armorProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
          {{/each}}
        </ul>
        <a class="trait-selector" data-options="armorProf"><i class="fas fa-edit"></i></a>
      </div>

      <h4 class="form-header">{{localize "FFD20.SavingThrowPlural"}}</h4>

      {{!-- Saving Throws --}}
      {{#each data.savingThrows as |savingThrow id|}}
      <div class="form-group">
        <label>{{savingThrow.label}}</label>
        <select name="data.savingThrows.{{id}}.value">
          {{#select savingThrow.value}}
          <option value="">{{localize "FFD20.None"}}</option>
          {{#each ../config.classSavingThrows as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{/each}}

      <h4 class="form-header">{{localize "FFD20.Advanced"}}</h4>

      <div class="form-group">
        <label>{{localize "FFD20.Tag"}}</label>
        <input {{#unless data.useCustomTag}}disabled{{/unless}} type="text" name="data.tag" value="{{data.tag}}" placeholder="{{localize "FFD20.Tag"}}" />
        <label>{{localize "FFD20.Custom"}}</label>
        <input type="checkbox" name="data.useCustomTag" {{checked data.useCustomTag}} />
      </div>

      {{#if isBaseClass}}
      <h4 class="form-header">{{localize "FFD20.FavouredClassBonuses"}}</h4>

      {{!-- Favoured Class Bonuses --}}
      {{#each data.fc as |fc id|}}
      <div class="form-group">
        <label>{{fc.label}}</label>
        <input type="text" name="data.fc.{{id}}.value" value="{{fc.value}}" data-dtype="Number" />
      </div>
      {{/each}}
      <div class="form-group">
        <label>{{localize 'FFD20.Notes'}}</label>
        <input type="text" name="data.fc.alt.notes" value="{{data.fc.alt.notes}}" data-dtype="String" />
      </div>
      {{/if}}

      <h4 class="form-header">{{localize "FFD20.ClassSkills"}}</h4>

      <div class="form-group">
        <ol class="item-list">
        {{#each skills as |skill key|}}
        <li class="item flexrow" data-skill="{{key}}">
          <label class="checkbox skill-cs">
            <input type="checkbox" name="data.classSkills.{{key}}" {{checked skill.classSkill}} />
          </label>
          <h4>{{skill.name}}</h4>
        </li>
        {{/each}}
        </ol>
      </div>
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{> "systems/ffd20/templates/items/parts/item-changes.hbs"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/ffd20/templates/items/parts/item-links.hbs"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="advanced">
      {{> "systems/ffd20/templates/items/parts/item-advanced.hbs"}}
    </div>
  </section>
</form>
