<form class="{{cssClass}} flexcol" autocomplete="off" data-tooltip-class="ffd20">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
      {{> "systems/ffd20/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
      </ul>
    </div>
  </header>

    {{!-- Sidebar --}}
  <section class="sidebar">
    <header>
      <h3 class="item-type">{{itemType}}</h3>

      {{#if @root.showIdentifiedData}}
      <h4 class="item-subtype">{{labels.subType}}</h4>
      {{/if}}
    </header>

    {{> "systems/ffd20/templates/items/parts/item-sidebar-inputs.hbs"}}

    {{> "systems/ffd20/templates/items/parts/item-sidebar-aura.hbs"}}

    {{> "systems/ffd20/templates/items/parts/item-sidebar-tags.hbs"}}
  </section>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "FFD20.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "FFD20.Details" }}</a>
    <a class="item" data-tab="links">{{localize "FFD20.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "FFD20.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/ffd20/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/ffd20/templates/items/parts/item-actions.hbs"}}

      {{!-- Consumable Type --}}
      {{#unless showUnidentifiedData}}
      <div class="form-group">
        <label>{{localize "FFD20.Type"}}</label>
        <select name="system.subType">
          {{selectOptions config.consumableTypes selected=system.subType}}
        </select>
      </div>

      {{#if hasSpellType}}
      <div class="form-group">
        <label>{{localize "FFD20.Spellcasting.Type.Label"}}</label>
        <select name="system.spellType">
          {{selectOptions @root.config.spellcasting.spells selected=system.spellType blank="FFD20.NonApplicable" localize=true}}
        </select>
      </div>
      {{/if}}
      {{/unless}}

      <h3 class="form-header">{{localize "FFD20.Properties"}}</h3>

      <div class="form-group stacked">
        <label class="checkbox timeworn">
          <input type="checkbox" name="system.timeworn" {{checked system.timeworn}}>
          {{localize "FFD20.Timeworn"}}
        </label>

        {{#if @root.showIdentifiedData}}
        <label class="checkbox artifact">
          <input type="checkbox" name="system.artifact" {{checked system.artifact}}>
          {{localize "FFD20.Artifact"}}
        </label>
        {{/if}}
      </div>

      {{> "systems/ffd20/templates/items/parts/item-aura.hbs"}}

      {{!-- Advanced --}}
      {{#unless showUnidentifiedData}}
      <h3 class="form-header">{{localize "FFD20.Advanced"}}</h3>

      {{! Tags }}
      {{~> "systems/ffd20/templates/items/parts/item-tags.hbs"}}

      {{! Identifier Tag }}
      {{~> "systems/ffd20/templates/items/parts/item-tag.hbs"}}
      {{/unless}}
    </div>

    <div class="tab links" data-group="primary" data-tab="links">
      {{> "systems/ffd20/templates/items/parts/item-links.hbs"}}
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab advanced" data-group="primary" data-tab="advanced">
      {{> "systems/ffd20/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
