<form class="{{cssClass}} flexcol" autocomplete="off" data-tooltip-class="ffd20">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
      {{> "systems/ffd20/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
        <li>
          {{#unless showUnidentifiedData}}{{labels.equipmentSubtype}}{{/unless}}
        </li>
        <li>
          {{#if isMateria}}
          {{labels.materiaRarity}}
          {{else}}
          {{#if hasMultipleSlots}}
          {{#unless showUnidentifiedData}}
          {{labels.slot}}
          {{/unless}}
          {{/if}}
          {{/if}}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Sidebar --}}
  <section class="sidebar">
    <header>
      <h3 class="item-type">{{itemType}}</h3>

      <h4 class="item-subtype">
        {{#if labels.childTypeDistinct}}
        {{labels.childType}}
        {{else}}
        {{labels.subType}}
        {{#if isMateria}}
        </h4>
        <h4 class="item-subtype">{{labels.childType}}</h4>
        <h4 class="materia-rarity">{{labels.materiaRarity}}
        {{/if}}
        {{/if}}
      </h4>

      {{#if hasMultipleSlots}}
      {{#if (and isMateria (eq system.slot "slotless"))}}
      <h4 class="slot">{{localize "FFD20.EquipSlots.anySlot"}}</h4>
      {{else}}
      <h4 class="slot">{{labels.slot}}</h4>
      {{/if}}
      {{#if isMateria}}
      <h4 class="slotted">{{labels.slotted}}</h4>
      {{/if}}
      {{/if}}
    </header>

    {{#if (and showIdentified (gt system.armor.enh 0))}}
    <label class="enhancement">
      <span>{{localize "FFD20.Enhancement"}}</span>
      <span class="value">{{numberFormat system.armor.enh sign=true}}</span>
    </label>
    {{/if}}

    {{> "systems/ffd20/templates/items/parts/item-sidebar-inputs.hbs"}}

    {{> "systems/ffd20/templates/items/parts/item-sidebar-aura.hbs"}}
    {{#unless isMateria}}
      {{#if (or labels.armor labels.mdex labels.acp)}}
      <div class="details">
        <h5>{{localize "FFD20.Details"}}</h5>
        {{#if labels.armor}}
        <label class="armor-class">
          <span>{{localize "FFD20.ACNormal"}}</span>
          {{#if labels.broken}}
          <span class="value effective">{{labels.armorValueEffective}}</span>
          <span class="value original">{{labels.armorValue}}</span>
          {{else}}
          <span class="value effective">{{labels.armorValue}}</span>
          {{/if}}
        </label>
        {{/if}}
        {{#if labels.acp}}
        <label class="acp">
          <span>{{localize "FFD20.ACP"}}</span>
          <span class="value">{{labels.acpEffective}}</span>
        </label>
        {{/if}}
        {{#if labels.mdex}}
        <label class="mdex">
          <span>{{localize "FFD20.MaxDexShort"}}</span>
          <span class="value">{{numberFormat system.armor.dex sign=true}}</span>
        </label>
        {{/if}}
        {{#if system.spellFailure}}
        <label class="asf">
          <span>{{localize "FFD20.ArcaneSpellFailureAbbr"}}</span>
          <span class="value">{{system.spellFailure}}%</span>
        </label>
        {{/if}}
      </div>
      {{/if}}
    {{/unless}}

    {{> "systems/ffd20/templates/items/parts/item-sidebar-tags.hbs"}}
  </section>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "FFD20.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "FFD20.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "FFD20.Changes" }}</a>
    {{/unless}}
    <a class="item" data-tab="links">{{localize "FFD20.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "FFD20.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{!-- Description Tab --}}
    {{> "systems/ffd20/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/ffd20/templates/items/parts/item-actions.hbs"}}

      {{!-- Equipment Type --}}
      {{#if showIdentified}}
      <div class="form-group">
        <label>{{localize "FFD20.Type"}}</label>
        <div class="form-fields">
          <select name="system.subType">
            {{selectOptions equipmentCategories.types selected=system.subType}}
          </select>
        </div>
      </div>

      {{!-- Equipment Subtype --}}
      {{#if hasSubCategory}}
      <div class="form-group">
        <label>{{localize "FFD20.Category"}}</label>
        <div class="form-fields">
          <select name="system.equipmentSubtype">
            {{selectOptions equipmentCategories.subTypes selected=system.equipmentSubtype}}
          </select>
        </div>
      </div>
      {{/if}}

      {{!-- Materia Rarity --}}
      {{#if isMateria}}
      <div class="form-group">
        <label>{{localize "FFD20.Materia.Rarity.Label"}}</label>
        <div class="form-fields">
          <select name="system.materiaRarity">
            {{selectOptions materiaRarity selected=system.materiaRarity}}
          </select>
        </div>
      </div>
      {{/if}}

      {{!-- Equipment Slot --}}
      {{#if hasMultipleSlots}}
        <div class="form-group">
          <label>{{localize "FFD20.Slot"}}</label>
          <div class="form-fields">
            <select name="system.slot">
              {{selectOptions equipmentSlots selected=system.slot}}
            </select>
          </div>
        </div>
      {{else}}
        <input type="hidden" name="system.slot" value="{{system.subType}}">
      {{/if}}

      {{!-- Materia Slotted --}}
      {{#if isMateria}}
      <div class="form-group">
        <label>{{localize "FFD20.Materia.Slot.Slotted"}}</label>
        <div class="form-fields">
          <select name="system.slotted">
            {{selectOptions equipmentSlotted selected=system.slotted}}
          </select>
        </div>
      </div>
      {{else}}
      <input type="hidden" name="system.slotted" value="{{system.slotted}}">
      {{/if}}

      {{/if}}

    {{#unless isMateria}}
      {{!-- Equipment Size --}}
      {{> "systems/ffd20/templates/items/parts/item-size.hbs" allowAutoResizing=true}}
    {{/unless}}

      {{!-- Hands Needed--}}
      {{#if variableHands}}
      <div class="form-group">
        <label>{{localize "FFD20.Hands"}}</label>
        <div class="form-fields">
          <input type="number" name="system.hands" value="{{system.hands}}" min="0" step="1" placeholder="0">
        </div>
      </div>
      {{/if}}

      {{!-- Base Types --}}
      {{> "systems/ffd20/templates/items/parts/item-base-types.hbs"}}

    {{#unless isMateria}}
      <h3 class="form-header">{{localize "FFD20.ArmorOrShield"}}</h3>

      {{!-- Armor Class --}}
      <div class="form-group">
        <label>{{localize "FFD20.ArmorClass"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.value" value="{{system.armor.value}}" min="0" step="1">
        </div>
      </div>

      {{!-- Enhancement Bonus --}}
      {{#unless showUnidentifiedData}}
      <div class="form-group">
        <label>{{localize "FFD20.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.enh" value="{{system.armor.enh}}" min="0" step="1">
        </div>
      </div>
      {{/unless}}

      {{!-- Dexterity Modifier --}}
      <div class="form-group">
        <label>{{localize "FFD20.MaxDexterityModifier"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.dex" value="{{system.armor.dex}}" placeholder="{{localize "FFD20.Unlimited"}}" step="1">
        </div>
      </div>

      {{!-- Armor Check Penalty --}}
      <div class="form-group">
        <label>{{localize "FFD20.ArmorCheckPenalty"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.acp" value="{{system.armor.acp}}" placeholder="0" min="0" step="1">
        </div>
      </div>

      {{!-- Spell Failure --}}
      <div class="form-group">
        <label>{{localize "FFD20.ArcaneSpellFailure"}}</label>
        <div class="form-fields">
          <input type="number" name="system.spellFailure" value="{{system.spellFailure}}" placeholder="0" min="0" step="1">
        </div>
      </div>

      <h3 class="form-header">{{localize "FFD20.Properties"}}</h3>

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        {{#if @root.showIdentifiedData}}
        <label class="checkbox artifact">
          <input type="checkbox" name="system.artifact" {{checked system.artifact}}> {{localize "FFD20.Artifact"}}
        </label>
        {{/if}}
        <label class="checkbox timeworn">
          <input type="checkbox" name="system.timeworn" {{checked system.timeworn}}> {{localize "FFD20.Timeworn"}}
        </label>
        <label class="checkbox nonlethal">
          <input type="checkbox" name="system.nonlethal" {{checked system.nonlethal}}> {{localize "FFD20.Nonlethal"}}
        </label>
      </div>

      <h3 class="form-header">{{localize "FFD20.Misc"}}</h3>

      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="system.proficient" {{checked system.proficient}}> {{localize "FFD20.ProficientAttack"}}
        </label>
      </div>
    {{/unless}}

      {{> "systems/ffd20/templates/items/parts/item-aura.hbs"}}

      {{!-- Equipment Materials --}}
      {{#if (or (eq item.subType "armor") (eq item.subType "shield"))}}
        <h3 class="form-header">{{localize "FFD20.Materials.Label"}}</h3>
        {{!-- Base Material --}}
        {{> "systems/ffd20/templates/items/parts/item-materials.hbs" label="FFD20.Materials.Base" value_ref="system.armor.material.base.value" value=system.armor.material.base.value custom_ref="system.armor.material.base.custom" custom=system.armor.material.base.custom choices=materialCategories.basics}}

        {{!-- Chosen Material --}}
        {{> "systems/ffd20/templates/items/parts/item-materials.hbs" label="FFD20.Materials.Normal" value_ref="system.armor.material.normal.value" value=system.armor.material.normal.value custom_ref="system.armor.material.normal.custom" custom=system.armor.material.normal.custom choices=materialCategories.materials}}

        {{> "systems/ffd20/templates/items/parts/item-materials-addon.hbs" reference="system.armor.material.addon"}}
      {{/if}}

      {{!-- Proficiencies --}}
      {{~> "systems/ffd20/templates/items/parts/item-proficiencies.hbs"}}

      {{!-- Creature Type --}}
      {{~> "systems/ffd20/templates/items/parts/item-creature-type.hbs"}}

      {{!-- Advanced --}}
      {{#unless showUnidentifiedData}}
      <h3 class="form-header">{{localize "FFD20.Advanced"}}</h3>

      {{! Tags }}
      {{~> "systems/ffd20/templates/items/parts/item-tags.hbs"}}

      {{! Identifier Tag }}
      {{~> "systems/ffd20/templates/items/parts/item-tag.hbs"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab changes" data-group="primary" data-tab="changes">
      {{~> "systems/ffd20/templates/items/parts/item-changes.hbs"}}
    </div>
    {{/unless}}

    <div class="tab links" data-group="primary" data-tab="links">
      {{> "systems/ffd20/templates/items/parts/item-links.hbs"}}
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab advanced" data-group="primary" data-tab="advanced">
      {{> "systems/ffd20/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
