<fieldset class="pf1-v2 token-sizing">
	<legend>{{localize "FFD20.Title"}}</legend>

	<div class="form-group slim" data-tooltip="FFD20.StaticSizeHint">
		<label for="{{appId}}-pf1-token-sizing">{{localize "FFD20.StaticSize"}}</label>
		<div class="form-fields">
			<input id="{{appId}}-pf1-token-sizing" type="checkbox" name="flags.ffd20.staticSize" data-dtype="Boolean" {{checked flags.staticSize}}>
		</div>
	</div>
</fieldset>
