<div class="traits flexcol">
  <div class="form-group">
    <label>{{localize "FFD20.Size"}}</label>
    <select name="data.traits.size">
      {{#select data.traits.size}}
      {{#each config.actorSizes as |label size|}}
      <option value="{{size}}">{{label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "FFD20.Stature"}}</label>
    <select name="data.traits.stature">
      {{#select data.traits.stature}}
      {{#each config.actorStatures as |label key|}}
      <option value="{{key}}">{{label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group {{#unless data.traits.senses}}inactive{{/unless}}">
    <label>{{localize "FFD20.Senses"}}</label>
    <input type="text" name="data.traits.senses" value="{{data.traits.senses}}" placeholder="{{localize "FFD20.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.dr}}inactive{{/unless}}">
    <label>{{localize "FFD20.DamRed"}}</label>
    <input type="text" name="data.traits.dr" value="{{data.traits.dr}}" placeholder="{{localize "FFD20.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.regen}}inactive{{/unless}}">
    <label>{{localize "FFD20.Regeneration"}}</label>
    <input type="text" name="data.traits.regen" value="{{data.traits.regen}}" placeholder="{{localize "FFD20.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.fastHealing}}inactive{{/unless}}">
    <label>{{localize "FFD20.FastHealing"}}</label>
    <input type="text" name="data.traits.fastHealing" value="{{data.traits.fastHealing}}" placeholder="{{localize "FFD20.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.eres}}inactive{{/unless}}">
    <label>{{localize "FFD20.EnRes"}}</label>
    <input type="text" name="data.traits.eres" value="{{data.traits.eres}}" placeholder="{{localize "FFD20.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.cres}}inactive{{/unless}}">
    <label>{{localize "FFD20.ConRes"}}</label>
    <input type="text" name="data.traits.cres" value="{{data.traits.cres}}" placeholder="{{localize "FFD20.None"}}"/>
  </div>

  <div class="form-group {{data.traits.di.cssClass}}">
    <label for="data.traits.di">{{localize "FFD20.DamImm"}}</label>
    <ul class="traits-list">
      {{#each data.traits.di.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
  </div>

  <div class="form-group {{data.traits.dv.cssClass}}">
    <label for="data.traits.dv">{{localize "FFD20.DamVuln"}}</label>
    <ul class="traits-list">
      {{#each data.traits.dv.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
  </div>

  <div class="form-group {{data.traits.ci.cssClass}}">
    <label for="data.traits.ci">{{localize "FFD20.ConImm"}}</label>
    <ul class="traits-list">
      {{#each data.traits.ci.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="conditionTypes"><i class="fas fa-edit"></i></a>
  </div>

  <div class="form-group {{data.traits.languages.cssClass}}">
    <label for="data.traits.languages">{{localize "FFD20.Languages"}}</label>
    <ul class="traits-list">
      {{#each data.traits.languages.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
  </div>

  {{#if isCharacter}}
    <div class="form-group {{data.traits.weaponProf.cssClass}}">
      <label for="data.traits.weaponProf">
        {{localize "FFD20.TraitWeaponProf"}}
      </label>
      <ul class="traits-list tooltip">
        {{#each data.traits.weaponProf.selected as |v k|}}
          <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        {{#if sourceDetails.data.traits.weaponProf.length}}
          <div class="tooltipcontent">
            {{localize "FFD20.FromSources"}}:<br/>
            {{#each sourceDetails.data.traits.weaponProf as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          </div>
        {{/if}}
      </ul>
      <a class="trait-selector" data-options="weaponProf"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{data.traits.armorProf.cssClass}}">
      <label for="data.traits.armorProf">
        {{localize "FFD20.TraitArmorProf"}}
      </label>
      <ul class="traits-list tooltip">
        {{#each data.traits.armorProf.selected as |v k|}}
          <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        {{#if sourceDetails.data.traits.armorProf.length}}
          <div class="tooltipcontent">
            {{localize "FFD20.FromSources"}}:<br/>
            {{#each sourceDetails.data.traits.armorProf as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          </div>
        {{/if}}
      </ul>
      <a class="trait-selector" data-options="armorProf"><i class="fas fa-edit"></i></a>
    </div>
  {{/if}}

  <div class="form-group">
    <label>{{localize "FFD20.Quadruped"}}</label>
    <label class="checkbox">
      <input type="checkbox" name="data.attributes.quadruped" {{checked data.attributes.quadruped}}/>
    </label>
  </div>

  <div class="form-group">
    <label>{{localize "FFD20.LevelDrain"}}</label>
    <input class="select-on-click" type="text" name="data.attributes.energyDrain" value="{{data.attributes.energyDrain}}"
                                                          placeholder="0" data-dtype="Number" />
  </div>

  {{!-- Point Buy Calculator --}}
  <div class="form-group">
    <button type="button" class="pointbuy-calculator">{{localize "FFD20.PointBuyCalculator"}}</button>
  </div>
</div>
